<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    <ul>
      {{#each specialties}}
        <li> 
          <input class="attribute-specialty" data-index="{{@index}}" type="text" value="{{this}}">
          <span class="button remove-specialty" data-index="{{@index}}" title="Remove Specialty"><i class="fas fa-times-circle"></i></span>
        </li>
      {{/each}}
      <li class="no-list">
        <div class="button add-specialty"> + Add Specialty </div>
      </li>
    </ul>
  </div>
</form>

