<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type"> {{data.label}} </h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> Sphere </label> 
              <select name="data.sphere">
                {{#select data.sphere}}
                {{#each config.arcana}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </li>
            <li> 
              <label> Level </label> <input name="data.level" type="number" data-dtype="Number" value="{{data.level}}" />
            </li>
            <li> 
              <label> Practice </label> 
              <select name="data.practice">
                {{#select data.practice}}
                {{#each config.practices}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </li>
          </ul>
        </div>
    </header>
  
  <div class="gold-border"> </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="traits">Traits</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line">
              <label> Primary factor </label> 
              <select name="data.primaryFactor">
                {{#select data.primaryFactor}}
                {{#each config.primaryFactors}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="form-line">
              <label> Potency </label>
              <span>
                <select name="data.potency.value">
                  {{#select data.potency.value}}
                    {{#if data.potency.isAdvanced}}
                      {{#each config.spell_casting.potency.advanced}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{else}}
                      {{#each config.spell_casting.potency.standard}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{/if}}
                  {{/select}}
                </select>
              </span>
              <span><label class="small"> Advanced </label>
                <label class="checkBox">
                  <input data-dtype="Boolean" name="data.potency.isAdvanced" type="checkbox" {{checked data.potency.isAdvanced}}>
                  <span></span>
                </label>
              </span>
              <label class="wide small"> {{#if data.potency.isAdvanced}} +2 Withstand against dispell {{/if}} </label>
            </div>
            <div class="form-line">
              <label> Duration </label>
              <span>
                <select name="data.duration.value">
                  {{#select data.duration.value}}
                    {{#if data.duration.isAdvanced}}
                      {{#each config.spell_casting.duration.advanced}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{else}}
                      {{#each config.spell_casting.duration.standard}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{/if}}
                  {{/select}}
                </select>
              </span>
              <span><label class="small"> Advanced </label> 
                <label class="checkBox">
                  <input data-dtype="Boolean" name="data.duration.isAdvanced" type="checkbox" {{checked data.duration.isAdvanced}} >
                  <span></span>
                </label> 
              </span>
              <label class="wide small"> Spell with instaneous effects recur every {{ritualCastingTime}}. </label>
            </div>
            <div class="form-line">
            <label> Scale </label>
              <span>
                <select name="data.scale.value">
                  {{#select data.scale.value}}
                    {{#if data.scale.isAdvanced}}
                      {{#each config.spell_casting.scale.advanced}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{else}}
                      {{#each config.spell_casting.scale.standard}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{/if}}
                  {{/select}}
                </select>
              </span>
              <span><label class="small"> Advanced </label> 
                <label class="checkBox">
                  <input data-dtype="Boolean" name="data.scale.isAdvanced" type="checkbox" {{checked data.scale.isAdvanced}} >
                  <span></span>
                </label> 
              </span>
            </div>
            <div class="form-line">
              <label> Withstand </label> <input name="data.withstand" type="text" value="{{data.withstand}}" />
            </div>
            
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
