<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type"> {{data.label}} </h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> Availability </label> <input name="data.availability" type="number" data-dtype="Number" value="{{data.availability}}"/>
            </li>
            <li> 
              <label> Size </label> <input name="data.size" type="number" data-dtype="Number" value="{{data.size}}" />
            </li>
            <li> 
              <label> Magical </label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.isMagical" type="checkbox" {{checked data.isMagical}}>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
    </header>
  
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="traits">Contents</a>
      <a class="item" data-tab="traits2">Traits</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
      {{!-- Contents Tab --}}
      <div class="tab traits" data-tab="traits">
        <div class="items-block">
          <div class="items-table">
            {{!-- Contents --}}
            <table class="item-table">
              <tr class="item-row header">
                <th class="cell header first button"> Contents </th>
                <th class="cell header"> </th>
              </tr>

              {{#each data.contents as |item iid|}}
                <tr class="item-row" data-index="{{@index}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-index="{{@index}}">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="stoneButton button item-delete" data-index="{{@index}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>

        {{!-- Attributes Tab --}}
        <div class="tab traits2" data-tab="traits2">
          <div class="item-stat-block">
            <div class="form-line">
               <label> Structure </label> <input name="data.structure" type="number" data-dtype="Number" value="{{data.structure}}" />
            </div>
            <div class="form-line">
               <label> Durability </label> <input name="data.durability" type="number" data-dtype="Number" value="{{data.durability}}" />
            </div>
            {{#if data.isMagical}}
            <div class="form-line">
              <label> Mana </label> 
              <span>
                <input class="range-input" name="data.mana.value" type="number" data-dtype="Number" value="{{data.mana.value}}" /> / <input class="range-input" name="data.mana.max" type="number" data-dtype="Number" value="{{data.mana.max}}" /> 
              </span>
            </div> 
            {{/if}}
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
