<div class="items-block">
  {{!-- Firearms --}}
  <div class="items-table">
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.firearm.label}} </th>
        {{#each inventory.firearm.dataset}}
          <th class="cell header" {{#if (isMagCol this)}} colspan="2" {{/if}}> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="firearm"> + Add </th>
      </tr>

      {{#each inventory.firearm.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}} {{#if data.penetration}} piercing tooltip {{/if}}"> {{data.damage}}
            {{#if data.penetration}} <span class="tooltip-text"> Armour Piercing {{data.penetration}} </span> {{/if}}
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.ranges.short}} / {{data.ranges.medium}} / {{data.ranges.long}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            {{#if data.magazine}}
              {{data.magazine.data.name}}
            {{else}} <span class="inactive-mag">{{data.cartridge}} </span>
            {{/if}}
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            <span class="button item-magValue tooltip" data-item-id="{{item._id}}">
              <span class="tooltip-text"> Left-click to increase ammo, right-click to decrease. Only works if a magazine is loaded. </span>
              {{#if data.magazine}}
                {{data.magazine.data.data.quantity}}
              {{else}} 0
              {{/if}}
              / {{data.capacity}}
            </span>
          </td>
          <td class="cell reload-cell {{#if @last}} lastRow {{/if}}">
            {{#if data.magazine}}
              <span class="button item-reload reloaded fas fa-eject" data-item-id="{{item._id}}" title="Eject"></span>
            {{else}} <span class="button item-reload fas fa-sync-alt tooltip" data-item-id="{{item._id}}">
                <span class="tooltip-text"> Reload magazine. Requires a magazine with the correct cartridge and quantity > 0 in the inventory. </span>
              </span>
            {{/if}}
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.initiativeMod}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.size}} </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Melee --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.melee.label}} </th>
        {{#each inventory.melee.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="melee"> + Add </th>
      </tr>

      {{#each inventory.melee.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}} {{#if data.penetration}} piercing tooltip {{/if}}"> {{data.damage}}
            {{#if data.penetration}} <span class="tooltip-text"> Armour Piercing {{data.penetration}} </span> {{/if}}
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.weaponType}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.initiativeMod}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.size}} </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Armour --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.armor.label}} </th>
        {{#each inventory.armor.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="armor"> + Add </th>
      </tr>

      {{#each inventory.armor.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.rating}} / {{data.ballistic}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.defensePenalty}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.speedPenalty}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            {{#each data.coverage as |value key|}}
              {{#if value}} {{key}},{{/if}}
            {{/each}}
          </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Ammo --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.ammo.label}} </th>
        {{#each inventory.ammo.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="ammo"> + Add </th>
      </tr>

      {{#each inventory.ammo.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.cartridge}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.quantity}} </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Equipment --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.equipment.label}} </th>
        {{#each inventory.equipment.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="equipment"> + Add </th>
      </tr>

      {{#each inventory.equipment.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.diceBonus}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.durability}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.structure}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.size}} </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
    
    {{!-- Containers --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> {{inventory.container.label}} </th>
        {{#each inventory.container.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> Wielded </th>
        <th class="cell header button item-create" data-type="container"> + Add </th>
      </tr>

      {{#each inventory.container.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.durability}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.structure}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.size}} </td>
          <td class="equipped cell {{#if @last}} lastRow {{/if}}">
            <label class="equipped checkBox">
              <input data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked data.equipped}}>
              <span></span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>